<% 
  // Parametri:
  // title (string): naslov bedža (opciono)
  // text (string): kratak tekst unutar bedža (opciono)
  // icon (string): putanja do slike (opciono)
%>
<div class="circular-badge">
  <% if (icon) { %>
    <div class="badge-image">
      <span class="material-symbols-outlined">
        <%= icon || 'Badge' %>
      </span>
    </div>
  <% } %>
  <% if (title) { %>
    <div class="badge-title">
      <%= title %>
    </div>
  <% } %>
  <% if (text) { %>
    <div class="badge-text">
      <%= text %>
    </div>
  <% } %>
</div>
<script src="/js/cardSlider.js"></script>
