<footer class="main-footer">
    <nav class="main-footer__nav">
        <ul class="main-footer__item-list">
            <li class="main-footer__item">
                <a class="<%= path === '/uslovi-koriscenja' ? 'active' : '' %>" href="/uslovi-koriscenja">Uslovi Korišćenja</a>
            </li>
            <li class="main-footer__item">
                <a class="<%= path === '/politika-privatnosti' ? 'active' : '' %>" href="/politika-privatnosti">Politika Privatnosti</a>
            </li>
            <li class="main-footer__item">
                <a class="<%= path === '/o-nama' ? 'active' : '' %>" href="/o-nama">O Nama</a>
            </li>
        </ul>
    </nav>
</footer> 
<script src="/js/navigation.js"></script>
</body>
</html>