<section class="newsletter">
  <h2 class="newsletter__title heading-lg">Prijavite se na naš newsletter</h2>
  <p class="newsletter__text text-lead">Kako biste dobijali najnovija obaveštenja i ponude!</p>

  <form action="/newsletter-prijava" method="post" class="form" id="newsletterForm">
    <div class="form__group">
      <label class="form__label" for="nameInp">Ime:</label>
      <input class="form__input" type="text" name="name" id="nameInp" placeholder="Unesite ime" required>
    </div>

    <div class="form__group">
      <label class="form__label" for="emailInp">Email:</label>
      <input class="form__input" type="email" name="email" id="emailInp" placeholder="Unesite email" required>
    </div>

    <div class="form__group">
      <label class="form__label" for="acceptance">Saglasnost:</label>
      <p class="form__helper">
        <input class="form__input" id="acceptance" name="acceptance" type="checkbox" required>
        Prihvatate <a class="main__link" href="/uslovi-koriscenja">Uslove Korišćenja</a> i 
        <a class="main__link" href="/politika-privatnosti">Politiku Privatnosti</a>.
      </p>
      
    </div>

    <input type="hidden" name="CSRFToken" value="<%= csrfToken %>">
    <input type="hidden" name="from" value="<%= from %>">
    <input type="hidden" name="honeypot">

    <button class="button button--primary form__submit" type="submit">Prijavite se</button>
  </form>

  <div id="newsletterMessage"></div>
</section>

<script src="/js/newsletter.js"></script>
