<div class="error-container">
    <p class="error-code"><%= statusCode %></p>
    <p class="error-message"><%= errorMsg || "Došlo je do greške. Pokušajte ponovo kasnije." %></p>
    <% if (errorDetails) { %>
        <p class="error-details"><%= errorDetails %></p>
    <% } %>
    <a href="/" class="back-link">Nazad na početnu stranicu</a>
</div>