<%- include('../include/head.ejs') %>
<%- include('../include/navigation.ejs') %>
<section class="main__container">
    <h1 class="main__title"><%= pageTitle %></h1>
    <h2>Uskoro će biti više informacija o partnerstvu!</h2>
</section>
<%- include('../include/end.ejs') %>