<%- include('../include/head.ejs') %>
<%- include('../include/navigation.ejs') %>
<section class="main__container">
    <section class="hero" style="padding: 80px 20px; text-align: center; color: #000000;">
        <div class="hero-content" style="max-width: 800px; margin: 0 auto;">
          <h1 style="font-size: 2.5em; margin-bottom: 20px;">Dobrodošle u Tophelanke – Vašu destinaciju za savremenu žensku garderobu</h1>
          <p style="font-size: 1.2em; margin-bottom: 20px;">
            Otkrijte ogroman asortiman helanki, trenerki, fitness kompleta, kupaćih, majica, šorceva, haljina, kardigana, jakni i još mnogo toga – pažljivo odabranih kako bi svaka žena pronašla svoj savršen stil. Sa veličinama od XS do 4XL, garantujemo izuzetan kvalitet i moderno rešenje za svaku priliku i godišnje doba.
          </p>
          <p style="font-size: 1.1em; margin-bottom: 30px;">
            Uživajte u brzoj dostavi, jednostavnoj zameni ili povratu novca i izuzetno pristupačnim cenama. Vaše zadovoljstvo nam je na prvom mestu!
          </p>
          <a href="/prodavnica" class="main__link btn">Posetite prodavnicu</a>
        </div>
      </section>
      
</section>
<%- include('../include/end.ejs') %>